<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello, world!</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="icon" href="favicon.png">
</head>
<body>
  <h1>Sports Odds and Scores API</h1>
  <p>College sports odds and scores API.</p>
  <p>Path /odds for current odds.</p>
  <p>Path /scores for final scores.</p>
  <p>Use the path /odds/sport or /scores/sport to access three different sports. Valid sports are:</p>
  <p>ncaaf, ncaab, mlb."</p>
</body>
</html>